html {
  height: 100%;
  width: 100%;
}
body {
}

.allcaps {
  text-transform: uppercase;
}

footer {
  background-color: black;
  color: white;
}

footer a {
  color: white;
}

footer .logo {
  padding: 2rem;
}

footer section {
  display: flex;
  padding: 1rem;
}
